<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581865288762-i939qkmdb7kem0bs40f7eaf1lp0sivle.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581865288762-i939qkmdb7kem0bs40f7eaf1lp0sivle</string>
	<key>API_KEY</key>
	<string>AIzaSyCBC-_D1DfbN7k-7lNfvpkaUYXleqPc21g</string>
	<key>GCM_SENDER_ID</key>
	<string>581865288762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mayorana.tafseel</string>
	<key>PROJECT_ID</key>
	<string>tafseel-7f242</string>
	<key>STORAGE_BUCKET</key>
	<string>tafseel-7f242.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581865288762:ios:fe7f738065c08e8f253103</string>
</dict>
</plist>