<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165389489294-bt74r8r6jebm5ief5bhfo08kjd2bbos3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165389489294-bt74r8r6jebm5ief5bhfo08kjd2bbos3</string>
	<key>API_KEY</key>
	<string>AIzaSyDLVQrYpFRTIY52MbE3NdyhnOCVwUPczC0</string>
	<key>GCM_SENDER_ID</key>
	<string>165389489294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mayorana.tafseel</string>
	<key>PROJECT_ID</key>
	<string>tafseel-d044f</string>
	<key>STORAGE_BUCKET</key>
	<string>tafseel-d044f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165389489294:ios:b703e6daeaf5d277d5e5df</string>
</dict>
</plist>